/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

// fonts
$font-family-sans-serif: "Inter Tight", serif;
$font-family-monospace: "Courier Prime", sans-serif;

$presentation-font-size-root: 32px;
$presentation-heading-font: $font-family-sans-serif;

.reveal .slides h1 {
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 0.3em;
  font-weight: 700;
}

.reveal .slide h2 {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 0.25em;
  font-weight: 500;
}

.reveal .slide h3 {
  padding-bottom: 0.2em;
  font-size: 1.0em;
  font-weight: 400;
}

.reveal .slide blockquote {
  font-family: "Rasa", serif;
  font-style: italic;
  font-size: 1.2em;
  padding-left: 1em;
}

.reveal .logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 1em;
  left: 1em;
  height: 2em !important;
  max-width: unset !important;
  max-height: unset !important;
}

.quote_author {
  font-size: 0.9em;
  font-style: normal;
  margin-left: 2em;
}

////.reveal .slide p{
////  padding-bottom: 0.4em;
////}
//

.textcenter {
  text-align: center;
}

.flow {
  font-weight: 900;
  background-image: url("https://juliomateoslangerak.github.io/OMERO-metrics/lawera_drosophila_sperm.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 40s linear infinite;
}

.flow_big {
  @extend .flow;
  font-size: 1.3em;
}

@keyframes animate {
	0% {
		background-position: left 0px top 10px;
	}
	40% {
		background-position: left 800px top 10px;
	}
}

