# django
bootstrap4
django-plotly-dash==2.4.0
dash==2.9.3
plotly==5.20.0
dpd_static_support==0.0.5
dash-bootstrap-components
django-bootstrap4
dash-mantine-components==0.14.5
dash-iconify
openpyxl
omero-web>=5.26.0

# omero
#microscopemetrics_schema @ git+https://github.com/MontpellierRessourcesImagerie/microscopemetrics-schema.git
microscopemetrics @ git+https://github.com/MontpellierRessourcesImagerie/microscope-metrics.git

#zeroc-ice @ https://github.com/glencoesoftware/zeroc-ice-py-macos-universal2/releases/download/20240131/zeroc_ice-3.6.5-cp311-cp311-macosx_11_0_universal2.whl
#zeroc-ice @ https://github.com/glencoesoftware/zeroc-ice-py-linux-x86_64/releases/download/20240202/zeroc_ice-3.6.5-cp311-cp311-manylinux_2_28_x86_64.whl

