{% extends "webgateway/base/base_main.html" %}
{%load plotly_dash%}
{% load static %}

{% block title %}Omero Metrics{% endblock %}
{% block header %} {% endblock %}

{% block link %}
<!-- Add our styles or css links here. **NB**: Don't forget to include the parent content of this block -->
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'OMERO_metrics/css/style_group.css' %}">

{% endblock %}

{% block script %}
{% endblock %}

{% block body %}


<div  class="{%plotly_class name="omero_group_dash"%}">
    {%plotly_app name="omero_group_dash" ratio=1%}
</div>

{% endblock %}