# django stuff
bootstrap4
django-plotly-dash
dpd_static_support
dash-bootstrap-components
django-bootstrap4
dash-mantine-components
hypothesis
dash-iconify

# omero stuff
microscopemetrics @ git+https://github.com/juliomateoslangerak/microscope-metrics.git
microscopemetrics_schema @ git+https://github.com/juliomateoslangerak/microscopemetrics-schema.git
