<script>
    $(document).ready(function() {
    $("#metrics_view_panel").omeroweb_center_plugin({
            plugin_index: {{ forloop.counter }},
            load_plugin_content: function(selected, dtype, oid){  var url ;
                
                var dataset_id = null;
                 if (dtype=="image") {
                    url = '{% url 'metrics_index' %}image/'+oid +'/';
                }
                else if (dtype=="dataset") {
                    url = '{% url 'metrics_index' %}dataset/'+oid +'/'
                    dataset_id = oid;
                }
                else if (dtype=="experimenter") {
                    url = '{% url 'metrics_index' %}group/'
                   
                }
                else if (dtype=="project") {
                    url = '{% url 'metrics_index' %}project/'+oid +'/'
                }
                else {
                    return;
                }

                $(this).load(url);

            },
        });
  
     
    });
    </script>