{% extends "webgateway/base/base_main.html" %}
{% load plotly_dash %}
{% load static %}
{% block title %}Omero Metrics{% endblock %}

{% block link %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'omero_metrics/css/style_project.css' %}">
<script src="{% static 'omero_metrics/js/js_project.js' %}"></script>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<h2>Omero Metrics Project View</h2>
<p>This is a simple view to display the processed and Unprocessed datasets for the selected project:</p>

<div class="tab">
  <button class="tablinks" onclick="openDataset(event, 'All')">All</button>
  <button class="tablinks" onclick="openDataset(event, 'Processed')">Processed</button>
  <button class="tablinks" onclick="openDataset(event, 'Unprocessed')">Unprocessed</button>
</div>

<div id="All" class="tabcontent">
  <p>All dataset of this project.</p>
  {% for p in processed_datasets %}
  <ul>
      <li class="loadContentli" data-oid="{{ p }}"> Dataset ID: {{ p }}</li>
  </ul>
  {% endfor %}
  {% for p in unprocessed_datasets %}
  <ul>
      <li class="loadContentli" data-oid="{{ p }}"> Dataset ID: {{ p }}</li>
  </ul>
  {% endfor %}
</div>

<div id="Processed" class="tabcontent">
  <p>Processed dataset of this project.</p> 
  {% for p in processed_datasets %}
  <ul>
      <li class="loadContentli" data-oid="{{ p }}"> Dataset ID: {{ p }}</li>
  </ul>
  {% endfor %}
</div>

<div id="Unprocessed" class="tabcontent">
 <p>Unprocessed dataset of this project</p>
  {% for p in unprocessed_datasets %}
<ul>
    <li class="loadContentli" data-oid="{{ p }}"> Dataset ID: {{ p }}</li>
</ul>
{% endfor %}
</div>



{% endblock %}