{% extends "webgateway/base/base_main.html" %}
{% load plotly_dash %}
{% load static %}
{% block title %}Omero Metrics{% endblock %}

{% block link %}

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'omero_metrics/css/style_project.css' %}">

<script src="{% static 'omero_metrics/js/js_project.js' %}"></script>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<div  class="{%plotly_class name="omero_project_dash"%}">
    {%plotly_app name="omero_project_dash" ratio=0.7%}
</div>

{% endblock %}