{% extends "webgateway/base/base_main.html" %}
{% load plotly_dash %}
{% block title %}Split View Figure{% endblock %}

{% block link %}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<h1>Processed Datasets</h1>
{% for p in processed_datasets %}
<ul>
    <li>{{ p }}</li>
</ul>
{% endfor %}
<h1>Unprocessed Datasets</h1>
{% for p in unprocessed_datasets %}
<ul>
    <li class="datasetThumb ui-selectee">
        <a  href="{% url 'metrics_index' %}dataset/{{ p }}">{{ p }}</a>
    </li>
</ul>
{% endfor %}
{% endblock %}